<div class="row">
  <div class="col-lg-4 col-lg-offset-4 well">
    <h3 class="text-center">Sign up</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <%= resource.errors.full_messages.first %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', autofocus: true, placeholder: 'Full name' %>
      </div>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', autofocus: true, placeholder: 'Choose username' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'email@example.com' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br>
        <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: 'password' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'password confirmation' %>
      </div>
      <div class="actions">
        <%= f.submit 'Sign up', class: 'btn btn-success' %>
      </div>
    <% end %>
    <br>
    <%= render 'devise/shared/links' %>
  </div>
</div>
