<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>

  <div class="col-lg-6">
    <%= render 'shared/activities', activities_text: 'Your Posts' %>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
