<div id="activities">
  <% unless @posts.empty? %>
    <h4><%= fa_icon "newspaper-o" %> <%= activities_text %></h4>
    <% @posts.each do |post| %>
      <div class="well  <%= non_owner_class(post) %>">
        <%= fa_icon 'user-circle' %>
        <b><%= post.user.name %></b> says "<%= post.content %>" about "<%= post.place.name %>".
        <%= link_to 'Click to view', post_path(post) %>

        <span class="post_share_state pull-right">
          <%= fa_icon(post_privacy_icon(post)) %>
        </span>

      </div>
    <% end %>
  <% end %>
</div>
