<ul class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item">
      <%= user.name %> |
      <%= link_to 'Add friend', friendships_path(friend_id: user.id), method: :post %>
    </li>
  <% end %>
</ul>
