<div class="well">
  <%= form_for @post, method: :post do |f| %>
  <div class="form-group">
    <h4>Share location with your friends</h4>
    <div class="form-group">
      <%= f.text_field :placename, class: 'form-control', placeholder: 'type & select location' %><br>
      <%= f.text_area :content, id: 'post_text', class: 'easy-autocomplete form-control', placeholder: 'Share your thoughts about the location.', rows: '5' %><br>
      <%= f.check_box :public, 'data-toggle': 'toggle', 'data-on': 'Public', 'data-off': 'Private', html: { checked: :checked } %><br><br>
      <div class="hidden_text">
        <%= f.select :user_ids, options_for_select(@users), {}, {multiple: true, class: 'form-control', include_blank: false, include_hidden: false} %><br><br>
      </div>
      <%= f.submit 'Share Location', class: 'btn btn-primary'%>
    </div>
    <% end %>
  </div>
  <br>
</div>
