<div class="panel panel-default post_panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= fa_icon 'user-circle' %>
      <b><%= post.user.name %> says</b>:
      <span class="text-primary"><%= post.content %></span>

      <span class="post_share_state pull-right">
        <%= fa_icon(post_privacy_icon(post)) %>
      </span>

    </h3>
  </div>

  <div class="panel-body">
    <div id="front_page_map" class="front_page_map"></div>
  </div>

  <div class="panel-footer">
    <%= fa_icon 'share-square-o' %>
    <%= post.user.name %> shared this on
    <span class="text-info">
      <b><%= post.created_at.to_formatted_s(:long_ordinal) %></b>
    </span>
  </div>
</div>
