<div id="user-info" class="well">
  <div class="text-center">
    <%= link_to profile_users_path(current_user.username) do %>
      <%= image_tag 'avatar.png', class: 'avatar' %>
    <% end %>

    <h5><%= current_user.name %></h5>
  </div>
  <h5>
    <%= fa_icon 'shield' %>
    <%= pluralize(current_user.posts.count, 'post') %>
  </h5>
  <h5>
    <%= fa_icon 'envelope' %>
    <%= current_user.email %>
  </h5>
  <h5>
    <%= fa_icon 'share-alt' %>
    <%= link_to 'Posts shared with you', shared_posts_path %>
  </h5>
  <br>
</div>
