<div class="row container">
  <div id="newsfeed" class="col-lg-6">
    <h4><%= fa_icon "newspaper-o" %>
      One of many Community's public post |
      <%= link_to 'Sign in', new_user_session_path %> or
      <%= link_to 'Sign up', new_user_registration_path %>
    </h4>
    <div id="activities">
      <div class="well">
        <% if @post %>
          <%= render 'shared/post_panel', post: @post %>
        <% else %>
          <p>No posts found!</p>
        <% end %>
      </div>
    </div>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>QI Place Sharing</h1>
    <p>QI Place Sharing site is built on <%= fa_icon 'diamond' %> Ruby on Rails as part of QI's assignment.</p>
  </div>
</div>
