<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div id="post_form" class="col-lg-6">
    <%= render 'shared/post_form' %>

    <%= render 'shared/activities', activities_text: 'Your Posts & Posts Shared with You!' %>

    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
