<div class="container">
  <h3><%= fa_icon 'share-alt' %> Posts shared with you.</h3>

  <% @posts.each do |post| %>
    <!-- TODO: refactor to partial -->
    <div class="well">
      <%= fa_icon 'user-circle' %>
      <b><%= current_user.name %></b> says "<%= post.content %>" about "<%= post.place.name %>".
      <%= link_to 'Click to view', post_path(post) %>
    </div>
  <% end %>
</div>
