<div class="panel panel-default post_panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= fa_icon 'user-circle' %>
      <b><%= @post.user.name %> says</b>:
      <span class="text-primary"><%= @post.content %></span>
      <span class="post_share_state pull-right" data-toggle="tooltip" title="<%= post_privacy_tooltip(@post) %>">
        <%= fa_icon post_privacy_icon(@post) %>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div id="place_show_map" class="place_show_map"></div>
  </div>
  <div class="panel-footer">
    <%= fa_icon 'share-square-o' %>
    <%= current_user.name %> shared this on
    <span class="text-info">
      <b><%= @post.created_at.to_formatted_s(:long_ordinal) %></b>
    </span>
  </div>
</div>
