<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>

<div id="map" class="map"></div>
<script type="text/javascript">
var map = new ol.Map({
  target: 'map',
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    })
  ],
  view: new ol.View({
    center: ol.proj.fromLonLat([parseFloat('<%= place.lat %>'), parseFloat('<%= place.long %>')]),
    zoom: 4
  })
});
</script>
