<h1>All Places</h1>

<ul class="list-group">
  <% @places.each do |place| %>
    <li class="list-group-item">
      <%= place.name %> |
      <%= link_to 'View', place_path(place) %>
    </li>
  <% end %>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</ul>
