<!DOCTYPE html>
<html>
  <head>
    <title>SocialLocator</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
  </head>

  <body>
    <script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>

    <% unless notice.blank? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>

    <% unless alert.blank? %>
      <div class="alert alert-danger">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    <% end %>

    <%= render 'shared/navbar' %>
    <div id="yield-main" class="<%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
